body {
  background-image: url(/assets/images/Background_image-c.jpg);
}

/* ------------------------------- Header ------------------------------- */

#contact-us {
  background-color: #ff0d00;
  box-shadow: none;
  cursor: default;
}

#contact-us a {
  color: white;
  cursor: default;
}

/* ------------------------------- Body ------------------------------- */

.article-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.384);
  backdrop-filter: blur(5px);
  padding: 20px 0px;
  margin: 10px 0px;
}

.banner {
  width: 100%;
  height: 250px;
  margin-top: 10px;
}

/* -------------- Contact Form --------------- */

.container {
  width: 85%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.384);
  border: 3px solid #ff0d00;
  border-radius: 10px;
  padding: 20px 60px 30px 40px;
  margin: auto;
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  font-family: "Ubuntu", sans-serif;
}
.container .content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #ff0d00;
}
.content .left-side .details {
  margin: 14px;
  text-align: center;
}
.content .left-side .details i {
  font-size: 2rem;
  color: #ff0d00;
  margin-bottom: 10px;
}
.content .left-side .details .topic {
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two,
.content .left-side .details .text-three {
  font-size: 1em;
  color: #afafb6;
}
.container .content .right-side {
  width: 75%;
  margin-left: 75px;
}

.container .content .right-side p {
  font-size: 1rem;
  color: white;
}
.content .right-side .topic-text {
  font-size: 2rem;
  font-weight: 600;
  color: #ff0d00;
}
.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: 3px solid #ff0d00;
  outline: none;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 10px;
  padding: 0 15px;
  resize: none;
  color: white;
}
.right-side .message-box {
  min-height: 150px;
}
.right-side .input-box textarea {
  padding-top: 6px;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"] {
  height: 45px;
  width: 150px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #ff0d00;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover {
  border: 3px solid #ff0d00;
  color: #ff0d00;
  background: white;
}

/* ------------------------------------------- */

/* ------------------------------- Media Query ------------------------------- */

@media screen and (min-width: 1440px) and (max-width: 1680px) {
  /* ===== Body ===== */
  .banner {
    height: 200px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  /* ===== Body ===== */

  .banner {
    height: 150px;
  }

  .container {
    height: 400px;
  }

  .right-side .input-box {
    height: 40px;
  }

  .right-side .message-box {
    min-height: 130px;
  }

  .content .left-side .details i {
    font-size: 1.8rem;
  }

  .content .left-side .details .topic {
    font-size: 1.2rem;
  }

  .content .left-side .details .text-one,
  .content .left-side .details .text-two,
  .content .left-side .details .text-three {
    font-size: 0.9rem;
  }

  .container .content .right-side p {
    font-size: 0.9rem;
  }
  .content .right-side .topic-text {
    font-size: 1.8rem;
  }

  .right-side .input-box input,
  .right-side .input-box textarea {
    font-size: 0.9rem;
  }

  .right-side .button input[type="button"] {
    height: 40px;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* ===== Body ===== */

  .banner {
    height: 115px;
  }

  .container {
    height: 350px;
  }

  .right-side .input-box {
    height: 30px;
  }

  .right-side .message-box {
    min-height: 100px;
  }

  .content .left-side .details i {
    font-size: 1.6rem;
  }

  .content .left-side .details .topic {
    font-size: 1rem;
  }

  .content .left-side .details .text-one,
  .content .left-side .details .text-two,
  .content .left-side .details .text-three {
    font-size: 0.8rem;
  }

  .container .content .right-side p {
    font-size: 0.8rem;
  }
  .content .right-side .topic-text {
    font-size: 1.6rem;
  }

  .right-side .input-box input,
  .right-side .input-box textarea {
    font-size: 0.8rem;
  }

  .right-side .button input[type="button"] {
    height: 30px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  /* ===== Body ===== */

  .banner {
    height: 75px;
  }

  .container {
    height: 510px;
    padding: 30px 20px;
    border: 2.5px solid #ff0d00;
  }

  .container .content {
    flex-direction: column;
    justify-content: center;
  }

  .container .content .left-side {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 0;
    border-bottom: 2.5px solid #ff0d00;
  }

  .container .content .right-side {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
  }

  .content .left-side::before {
    display: none;
  }

  .right-side .input-box {
    height: 30px;
    width: 90%;
  }

  .right-side .message-box {
    min-height: 100px;
  }

  .content .left-side .details i {
    font-size: 1.4rem;
  }

  .content .left-side .details .topic {
    font-size: 0.9rem;
  }

  .content .left-side .details .text-one,
  .content .left-side .details .text-two,
  .content .left-side .details .text-three {
    font-size: 0.6rem;
  }

  .container .content .right-side p {
    font-size: 0.8rem;
  }
  .content .right-side .topic-text {
    font-size: 1.6rem;
  }

  .right-side .input-box input,
  .right-side .input-box textarea {
    font-size: 0.8rem;
    border: 2.5px solid #ff0d00;
  }

  .right-side .button input[type="button"] {
    height: 30px;
    font-size: 1rem;
  }

  .button input[type="button"]:hover {
    border: 2.5px solid #ff0d00;
  }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
  /* ===== Body ===== */

  .banner {
    height: 50px;
  }

  .container {
    height: 450px;
    padding: 30px 20px;
    border: 2px solid #ff0d00;
    border-radius: 8px;
  }

  .container .content {
    flex-direction: column;
    justify-content: center;
  }

  .container .content .left-side {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 0;
    border-bottom: 2px solid #ff0d00;
  }

  .container .content .right-side {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
  }

  .content .left-side::before {
    display: none;
  }

  .right-side .input-box {
    height: 30px;
    width: 90%;
  }

  .right-side .message-box {
    min-height: 100px;
  }

  .content .left-side .details i {
    font-size: 1.3rem;
  }

  .content .left-side .details .topic {
    font-size: 0.8rem;
  }

  .content .left-side .details .text-one,
  .content .left-side .details .text-two,
  .content .left-side .details .text-three {
    font-size: 0.5rem;
  }

  .container .content .right-side p {
    font-size: 0.6rem;
  }
  .content .right-side .topic-text {
    font-size: 1.4rem;
  }

  .right-side .input-box input,
  .right-side .input-box textarea {
    font-size: 0.6rem;
    border: 2px solid #ff0d00;
    border-radius: 8px;
  }

  .right-side .button input[type="button"] {
    height: 30px;
    font-size: 0.8rem;
    border-radius: 5px;
  }

  .button input[type="button"]:hover {
    border: 2px solid #ff0d00;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  /* ===== Body ===== */

  .banner {
    height: 40px;
  }

  .container {
    height: 450px;
    padding: 30px 20px;
    border: 2px solid #ff0d00;
    border-radius: 8px;
  }

  .container .content {
    flex-direction: column;
    justify-content: center;
  }

  .container .content .left-side {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 0;
    border-bottom: 2px solid #ff0d00;
  }

  .container .content .right-side {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
  }

  .content .left-side::before {
    display: none;
  }

  .right-side .input-box {
    height: 30px;
    width: 90%;
  }

  .right-side .message-box {
    min-height: 100px;
  }

  .content .left-side .details i {
    font-size: 1.3rem;
  }

  .content .left-side .details .topic {
    font-size: 0.8rem;
  }

  .content .left-side .details .text-one,
  .content .left-side .details .text-two,
  .content .left-side .details .text-three {
    font-size: 0.5rem;
  }

  .container .content .right-side p {
    font-size: 0.6rem;
  }
  .content .right-side .topic-text {
    font-size: 1.4rem;
  }

  .right-side .input-box input,
  .right-side .input-box textarea {
    font-size: 0.6rem;
    border: 2px solid #ff0d00;
    border-radius: 8px;
  }

  .right-side .button input[type="button"] {
    height: 30px;
    font-size: 0.8rem;
    border-radius: 5px;
  }

  .button input[type="button"]:hover {
    border: 2px solid #ff0d00;
  }
}

@media screen and (max-width: 319px) {
  /* ===== Body ===== */

  .banner {
    height: 35px;
  }

  .container {
    height: 450px;
    padding: 30px 20px;
    border: 2px solid #ff0d00;
    border-radius: 8px;
  }

  .container .content {
    flex-direction: column;
    justify-content: center;
  }

  .container .content .left-side {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 0;
    border-bottom: 2px solid #ff0d00;
  }

  .container .content .right-side {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
  }

  .content .left-side::before {
    display: none;
  }

  .right-side .input-box {
    height: 30px;
    width: 90%;
  }

  .right-side .message-box {
    min-height: 100px;
  }

  .content .left-side .details i {
    font-size: 1.3rem;
  }

  .content .left-side .details .topic {
    font-size: 0.8rem;
  }

  .content .left-side .details .text-one,
  .content .left-side .details .text-two,
  .content .left-side .details .text-three {
    font-size: 0.5rem;
  }

  .container .content .right-side p {
    font-size: 0.6rem;
  }
  .content .right-side .topic-text {
    font-size: 1.4rem;
  }

  .right-side .input-box input,
  .right-side .input-box textarea {
    font-size: 0.6rem;
    border: 2px solid #ff0d00;
    border-radius: 8px;
  }

  .right-side .button input[type="button"] {
    height: 30px;
    font-size: 0.8rem;
    border-radius: 5px;
  }

  .button input[type="button"]:hover {
    border: 2px solid #ff0d00;
  }

  .content .left-side .details {
    margin: 10px;
  }
}
