body {
  background-image: url(/assets/images/Background_image-mppg.jpg);
}

ol {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* ------------------------------- Header ------------------------------- */

#most-popular {
  background-color: #ff0d00;
  box-shadow: none;
  cursor: default;
}

#most-popular a {
  color: white;
  cursor: default;
}

/* ------------------------------- Body ------------------------------- */

.article-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.384);
  backdrop-filter: blur(5px);
  padding: 20px 0px;
  margin: 10px 0px;
}

article > h3 {
  font-size: 2.5rem;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 20px;
}

article > hr {
  border: 5px solid #ff0d00;
}

article > ol > li {
  font-size: 2rem;
}

article p {
  font-size: 1.2rem;
}

article table li {
  font-size: 1.2rem;
}

.game-title {
  font-size: 2rem;
}

/* ------------------------------- Media Query ------------------------------- */

@media screen and (min-width: 1440px) {
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (min-width: 425px) and (max-width: 767px) {
}

@media screen and (min-width: 375px) and (max-width: 424px) {
}

@media screen and (min-width: 320px) and (max-width: 374px) {
}

@media screen and (max-width: 319px) {
}